attrs
aws-cdk-asset-awscli-v2
aws-cdk-asset-kubectl-v20
aws-cdk-asset-node-proxy-agent-v6
aws-cdk-aws-lambda-python-alpha
aws-cdk-aws-redshift-alpha
aws-cdk-lib
babel
cattrs
cdk-monitoring-constructs
cdk-nag
certifi
cfgv
charset-normalizer
click
colorama
constructs
coverage[toml]
distlib
filelock
ghp-import
gitdb
gitpython
griffe
identify
idna
importlib-resources
iniconfig
jinja2
jsii
mando
markdown
markupsafe
mergedeep
mkdocs-autorefs
mkdocs-git-revision-date-plugin
mkdocs-material-extensions
mkdocs-material
mkdocs
mkdocstrings-python
mkdocstrings
mypy-boto3-events
mypy-extensions
mypy
nodeenv
packaging
paginate
pathspec
platformdirs
pluggy
pre-commit
publication
pycodestyle
pygments
pymdown-extensions
pytest-cov
pytest-html
pytest-metadata
pytest-mock
pytest-socket
pytest
python-dateutil
python-dotenv
pyyaml-env-tag
pyyaml
radon
regex
requests
ruff
setuptools
six
smmap
stamina
tenacity
toml
typeguard
types-cachetools
types-requests
typing-extensions
urllib3
# virtualenv==20.25.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
watchdog
xenon
