name = "annotated-types"
version = "0.6.0"
description = "Reusable constraint types to use with typing.Annotated"
name = "attrs"
version = "23.1.0"
description = "Classes Without Boilerplate"
name = "aws-cdk-asset-awscli-v1"
version = "2.2.201"
description = "A library that contains the AWS CLI for use in Lambda Layers"
name = "aws-cdk-asset-kubectl-v20"
version = "2.1.2"
description = "A library that contains kubectl for use in Lambda Layers"
name = "aws-cdk-asset-node-proxy-agent-v6"
version = "2.0.1"
description = "@aws-cdk/asset-node-proxy-agent-v6"
name = "aws-cdk-aws-lambda-python-alpha"
version = "2.115.0a0"
description = "The CDK Construct Library for AWS Lambda in Python"
name = "aws-cdk-aws-redshift-alpha"
version = "2.115.0a0"
description = "The CDK Construct Library for AWS::Redshift"
name = "aws-cdk-lib"
version = "2.115.0"
description = "Version 2 of the AWS Cloud Development Kit library"
name = "aws-lambda-env-modeler"
version = "1.0.6"
description = "AWS-Lambda-Env-Modeler is a Python library designed to simplify the process of managing and validating environment variables in your AWS Lambda functions."
name = "aws-lambda-powertools"
version = "2.30.0"
description = "Powertools for AWS Lambda (Python) is a developer toolkit to implement Serverless best practices and increase developer velocity."
name = "aws-xray-sdk"
version = "2.12.1"
description = "The AWS X-Ray SDK for Python (the SDK) enables Python developers to record and emit information from within their applications to the AWS X-Ray service."
name = "babel"
version = "2.14.0"
description = "Internationalization utilities"
name = "boto3"
version = "1.34.1"
description = "The AWS SDK for Python"
name = "botocore"
version = "1.34.1"
description = "Low-level, data-driven core of boto 3."
name = "cachetools"
version = "5.3.2"
description = "Extensible memoizing collections and decorators"
name = "cattrs"
version = "23.2.3"
description = "Composable complex class support for attrs and dataclasses."
name = "cdk-monitoring-constructs"
version = "7.2.0"
description = "cdk-monitoring-constructs"
name = "cdk-nag"
version = "2.27.217"
description = "Check CDK v2 applications for best practices using a combination on available rule packs."
name = "certifi"
version = "2023.11.17"
description = "Python package for providing Mozilla's CA Bundle."
name = "cfgv"
version = "3.4.0"
description = "Validate configuration and produce human readable error messages."
name = "charset-normalizer"
version = "3.3.2"
description = "The Real First Universal Charset Detector. Open, modern and actively maintained alternative to Chardet."
name = "click"
version = "8.1.7"
description = "Composable command line interface toolkit"
name = "colorama"
version = "0.4.6"
description = "Cross-platform colored terminal text."
name = "constructs"
version = "10.3.0"
description = "A programming model for software-defined state"
name = "coverage"
version = "7.3.3"
description = "Code coverage measurement for Python"
name = "distlib"
version = "0.3.8"
description = "Distribution utilities"
name = "dnspython"
version = "2.4.2"
description = "DNS toolkit"
name = "email-validator"
version = "2.1.0.post1"
description = "A robust email address syntax and deliverability validation library."
name = "filelock"
version = "3.13.1"
description = "A platform independent file lock."
name = "ghp-import"
version = "2.1.0"
description = "Copy your docs directly to the gh-pages branch."
name = "gitdb"
version = "4.0.11"
description = "Git Object Database"
name = "gitpython"
version = "3.1.40"
description = "GitPython is a Python library used to interact with Git repositories"
name = "griffe"
version = "0.38.1"
description = "Signatures for entire Python programs. Extract the structure, the frame, the skeleton of your project, to generate API documentation or find breaking changes in your API."
name = "identify"
version = "2.5.33"
description = "File identification library for Python"
name = "idna"
version = "3.6"
description = "Internationalized Domain Names in Applications (IDNA)"
name = "importlib-resources"
version = "6.1.1"
description = "Read resources from Python packages"
name = "infrastructure"
version = "1.0"
description = "CDK code for deploying the serverless service"
name = "iniconfig"
version = "2.0.0"
description = "brain-dead simple config-ini parsing"
name = "jinja2"
version = "3.1.2"
description = "A very fast and expressive template engine."
name = "jmespath"
version = "1.0.1"
description = "JSON Matching Expressions"
name = "jsii"
version = "1.93.0"
description = "Python client for jsii runtime"
name = "mando"
version = "0.7.1"
description = "Create Python CLI apps with little to no effort at all!"
name = "markdown"
version = "3.5.1"
description = "Python implementation of John Gruber's Markdown."
name = "markupsafe"
version = "2.1.3"
description = "Safely add untrusted strings to HTML/XML markup."
name = "mergedeep"
version = "1.3.4"
description = "A deep merge function for 🐍."
name = "mkdocs"
version = "1.5.3"
description = "Project documentation with Markdown."
name = "mkdocs-autorefs"
version = "0.5.0"
description = "Automatically link across pages in MkDocs."
name = "mkdocs-git-revision-date-plugin"
version = "0.3.2"
description = "MkDocs plugin for setting revision date from git per markdown file."
name = "mkdocs-material"
version = "9.5.2"
description = "Documentation that simply works"
name = "mkdocs-material-extensions"
version = "1.3.1"
description = "Extension pack for Python Markdown and MkDocs Material."
name = "mkdocstrings"
version = "0.23.0"
description = "Automatic documentation from sources, for MkDocs."
name = "mkdocstrings-python"
version = "1.7.5"
description = "A Python handler for mkdocstrings."
name = "mypy"
version = "1.7.1"
description = "Optional static typing for Python"
name = "mypy-boto3-dynamodb"
version = "1.34.0"
description = "Type annotations for boto3.DynamoDB 1.34.0 service generated with mypy-boto3-builder 7.21.0"
name = "mypy-boto3-events"
version = "1.34.0"
description = "Type annotations for boto3.EventBridge 1.34.0 service generated with mypy-boto3-builder 7.21.0"
name = "mypy-extensions"
version = "1.0.0"
description = "Type system extensions for programs checked with the mypy type checker."
name = "nodeenv"
version = "1.8.0"
description = "Node.js virtual environment builder"
name = "packaging"
version = "23.2"
description = "Core utilities for Python packages"
name = "paginate"
version = "0.5.6"
description = "Divides large result sets into pages for easier browsing"
name = "pathspec"
version = "0.12.1"
description = "Utility library for gitignore style pattern matching of file paths."
name = "platformdirs"
version = "4.1.0"
description = "A small Python package for determining appropriate platform-specific dirs, e.g. a \"user data dir\"."
name = "pluggy"
version = "1.3.0"
description = "plugin and hook calling mechanisms for python"
name = "pre-commit"
version = "3.6.0"
description = "A framework for managing and maintaining multi-language pre-commit hooks."
name = "publication"
version = "0.0.3"
description = "Publication helps you maintain public-api-friendly modules by preventing unintentional access to private implementation details via introspection."
name = "pycodestyle"
version = "2.11.1"
description = "Python style guide checker"
name = "pydantic"
version = "2.5.2"
description = "Data validation using Python type hints"
name = "pydantic-core"
version = "2.14.5"
description = ""
name = "pygments"
version = "2.17.2"
description = "Pygments is a syntax highlighting package written in Python."
name = "pymdown-extensions"
version = "10.5"
description = "Extension pack for Python Markdown."
name = "pytest"
version = "7.4.3"
description = "pytest: simple powerful testing with Python"
name = "pytest-cov"
version = "4.1.0"
description = "Pytest plugin for measuring coverage."
name = "pytest-html"
version = "4.1.1"
description = "pytest plugin for generating HTML reports"
name = "pytest-metadata"
version = "3.0.0"
description = "pytest plugin for test session metadata"
name = "pytest-mock"
version = "3.12.0"
description = "Thin-wrapper around the mock package for easier use with pytest"
name = "pytest-socket"
version = "0.6.0"
description = "Pytest Plugin to disable socket calls during tests"
name = "python-dateutil"
version = "2.8.2"
description = "Extensions to the standard Python datetime module"
name = "python-dotenv"
version = "1.0.0"
description = "Read key-value pairs from a .env file and set them as environment variables"
name = "pyyaml"
version = "6.0.1"
description = "YAML parser and emitter for Python"
name = "pyyaml-env-tag"
version = "0.1"
description = "A custom YAML tag for referencing environment variables in YAML files. "
name = "radon"
version = "6.0.1"
description = "Code Metrics in Python"
name = "regex"
version = "2023.10.3"
description = "Alternative regular expression module, to replace re."
name = "requests"
version = "2.31.0"
description = "Python HTTP for Humans."
name = "ruff"
version = "0.1.8"
description = "An extremely fast Python linter and code formatter, written in Rust."
name = "s3transfer"
version = "0.9.0"
description = "An Amazon S3 Transfer Manager"
name = "setuptools"
version = "69.0.2"
description = "Easily download, build, install, upgrade, and uninstall Python packages"
name = "six"
version = "1.16.0"
description = "Python 2 and 3 compatibility utilities"
name = "smmap"
version = "5.0.1"
description = "A pure Python implementation of a sliding window memory map manager"
name = "stamina"
version = "23.3.0"
description = "Production-grade retries made easy."
name = "tenacity"
version = "8.2.3"
description = "Retry code until it succeeds"
name = "toml"
version = "0.10.2"
description = "Python Library for Tom's Obvious, Minimal Language"
name = "typeguard"
version = "2.13.3"
description = "Run-time type checker for Python"
name = "types-cachetools"
version = "5.3.0.7"
description = "Typing stubs for cachetools"
name = "types-requests"
version = "2.31.0.10"
description = "Typing stubs for requests"
name = "typing-extensions"
version = "4.9.0"
description = "Backported and Experimental Type Hints for Python 3.8+"
name = "urllib3"
version = "2.0.7"
description = "HTTP library with thread-safe connection pooling, file post, and more."
name = "virtualenv"
version = "20.25.0"
description = "Virtual Python Environment builder"
name = "watchdog"
version = "3.0.0"
description = "Filesystem events monitoring"
name = "wrapt"
version = "1.16.0"
description = "Module for decorators, wrappers and monkey patching."
name = "xenon"
version = "0.9.1"
description = "Monitor code metrics for Python on your CI server"